@model PortfolioInsight.Web.Controllers.IndexViewModel

<div class="mx-auto" style="max-width:500px;">
    @foreach (var p in Model.Portfolios)
    {
        <div class="row my-2">
            <div class="col">
                <a href="/portfolios/@p.Id" class="btn btn-primary btn-block">@p.Name</a>
            </div>
        </div>
    }
</div>


